<article class="card bg-dark rounded-0 border-0">
  {{ with .Params.Image }} <img src="{{ . | absURL }}" alt="" class="card-img-top mb-4 rounded-0"> {{ end }}
  <div class="card-body">
    <h4 class="mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
    <p>{{ .Summary }}</p>
    <!-- [themify_button link="url" style="large red rounded" target="_blank"]Text[/themify_button] -->
    <div style = "display: flex; justify-content: space-between;">
    <a style = "font-size: 40px;" class="ti-github" href="{{.Params.link}}"></a>
    <!-- <br/> -->
    
    <a style = "font-size: 40px;" class="ti-eye" href="{{.Params.live}}"></a>
    <!-- <br/> -->
    

    </div>
    <div style = "display: flex; justify-content: space-between;"> 
      <p> View Source</p>
    <p> Live Project</p>
    </div>
    
    <!-- <link ></span>  -->
  </div>
</article>